<div>
  <div>
    <h1>
      User card #<%= @the_user_card.id %> details
    </h1>

    <div>
      <div>
        <a href="/user_cards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_user_card/<%= @the_user_card.id %>">
          Delete user card
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Card 4 digits
      </dt>
      <dd>
        <%= @the_user_card.card_4_digits %>
      </dd>

      <dt>
        Validity
      </dt>
      <dd>
        <%= @the_user_card.validity %>
      </dd>

      <dt>
        Name as shown
      </dt>
      <dd>
        <%= @the_user_card.name_as_shown %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_user_card.user_id %>
      </dd>

      <dt>
        Card
      </dt>
      <dd>
        <%= @the_user_card.card_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user_card.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user_card.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit user card
    </h2>

    <form action="/modify_user_card/<%= @the_user_card.id %>"  method="post" >
      <div>
        <label for="card_4_digits_box">
          Card 4 digits
        </label>

        <input type="text" id="card_4_digits_box" name="query_card_4_digits" value="<%= @the_user_card.card_4_digits %>">
      </div>

      <div>
        <label for="validity_box">
          Validity
        </label>

        <input type="date" id="validity_box" name="query_validity" value="<%= @the_user_card.validity %>">
      </div>

      <div>
        <label for="name_as_shown_box">
          Name as shown
        </label>

        <input type="text" id="name_as_shown_box" name="query_name_as_shown" value="<%= @the_user_card.name_as_shown %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_user_card.user_id %>">
      </div>

      <div>
        <label for="card_id_box">
          Card
        </label>

        <input type="text" id="card_id_box" name="query_card_id" value="<%= @the_user_card.card_id %>">
      </div>

      <button>
        Update user card
      </button>
    </form>
  </div>
</div>

<hr>
