<div>
  <div>
    <h1>
      List of all transactions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new transaction
    </h2>

    <form action="/insert_transaction" method="post">
      <div>
        <label for="merchant_name_box">
          Merchant name
        </label>

        <input type="text" id="merchant_name_box" name="query_merchant_name">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount">
      </div>

      <div>
        <label for="cashback_box">
          Cashback
        </label>

        <input type="text" id="cashback_box" name="query_cashback">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="user_card_id_box">
          User card
        </label>

        <input type="text" id="user_card_id_box" name="query_user_card_id">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <button>
        Create transaction
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Merchant name
        </th>

        <th>
          Amount
        </th>

        <th>
          Cashback
        </th>

        <th>
          User
        </th>

        <th>
          User card
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_transactions.each do |a_transaction| %>
      <tr>
        <td>
          <%= a_transaction.id %>
        </td>

        <td>
          <%= a_transaction.merchant_name %>
        </td>

        <td>
          <%= a_transaction.amount %>
        </td>

        <td>
          <%= a_transaction.cashback %>
        </td>

        <td>
          <%= a_transaction.user_id %>
        </td>

        <td>
          <%= a_transaction.user_card_id %>
        </td>

        <td>
          <%= a_transaction.location %>
        </td>

        <td>
          <%= time_ago_in_words(a_transaction.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_transaction.updated_at) %> ago
        </td>

        <td>
          <a href="/transactions/<%= a_transaction.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
