<div>
  <div>
    <h3>
      All transactions
    </h3>
  </div>
</div>

<hr>

<div>
  <div>
    <p class="fs-5">
      Add a new transaction
    </p>

    <form action="/insert_transaction" method="post">
      <div>
        <label for="merchant_name_box">
          Merchant name
        </label>

        <input type="text" id="merchant_name_box" name="query_merchant_name">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount">
      </div>

      <div>
        <label for="cashback_box">
          Cashback
        </label>

        <input type="text" id="cashback_box" name="query_cashback">
      </div>

      <div>
        <label for="user_card_id_box">
          Card
        </label>

        <input type="text" id="user_card_id_box" name="query_user_card_id">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <p></p>

      <div>
        <button class="btn btn-success">
          Record Transaction
        </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Merchant name
        </th>

        <th>
          Amount
        </th>

        <th>
          Cashback
        </th>

        <th>
          Card
        </th>

        <th>
          Location
        </th>

        <th>
          Date
        </th>

      </tr>

      <% @list_of_transactions.each do |a_transaction| %>
      <tr>

        <td>
          <%= a_transaction.merchant_name %>
        </td>

        <td>
          <%= a_transaction.amount %>
        </td>

        <td>
          <%= a_transaction.cashback %>
        </td>

        <td>
          <%= a_transaction.user_card_id %>
        </td>

        <td>
          <%= a_transaction.location %>
        </td>

        <td>
          <%= time_ago_in_words(a_transaction.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
