
<div>
  <p class="fs-5 fw-bold">Selected Card</p>
</div>


<div class="d-flex flex-row mb-3 justify-content-center">
  <p class="fs-6"><%= @card.card_name %>
</div>

<div class="d-flex flex-row mb-3 justify-content-center">
  <img src="<%= @card.image %>">
</div>

<div class="d-flex flex-row mb-3 justify-content-center">
  <p class="fs-5 fw-bold">Cash Back <%= @maximum_cashback %>%</p>
</div>


<div>
  <div class="d-flex flex-row mb-3 justify-content-center"> 

    <form action="/transaction_params" method="post">
      <input type="hidden" name="card_name" value="<%= @card.card_name %>">
      <input type="hidden" name="cash_back" value="<%= @maximum_cashback %>">
      <input type="hidden" name="merchant" value="<%= @merchant %>">
      
      <button class="btn btn-outline-success">
        Pay
      </button>

    </form>

  </div>
</div>
