<!DOCTYPE html>
<html>
  <head>
    <title>Opti Pay</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/my_styles.css">
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg text-bg-success p-3">
      <% if session.fetch(:user_id).present? %>
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">Opti-Pay</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/transactions">Transactions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/edit_user_profile">Edit Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/user_sign_out">Sign Out</a>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
          
      <% end %>
    </nav>

    <% if notice.present? %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    
    <hr>
    <%= yield %>
  </body>
</html>
